body {
    margin: 0;
    padding: 0;
}

.inicio {
    display: grid;
    grid-template-areas: "nav" "img" "welcome";
    grid-template-rows: 20% 50% 30%;
    gap: 5vh;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    width: 98%;

}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;

}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5vh;
    margin-right: 2vh;

}

li:hover {
    text-shadow: 3px 3px 3px rgb(121, 121, 121);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 5vh;
    padding: 2vh;
}


.mv {
    display: grid;
    grid-template-areas: "mision" "vision";
    grid-template-columns: 50% 50%;
    margin: 2%;
    padding: 2vh;
    text-align: justify;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    width: 60%
}

.abutu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.recuadro {
    display: flex;
    flex-direction: column;
    margin: 2vh
}

.recuadro h3 {
    text-align: center;
}

.recuadro img {
    align-self: center;
    width: 60%;
}

.contacto {
    display: grid;
    grid-template-areas: "mapa lista" "mapa barra";
    grid-template-columns: 60% 40%;
    grid-template-rows: 90% 10%;
    width: 80%;
}

.mapa {
    grid-area: mapa;
    align-self: center;
    width: 100%;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: lista;
    text-align: center;
}
#casita{list-style-image: url("./IMG/casa.jpg");}

#correo{list-style-image: url(./IMG/correo.png);}






.barrita {
    grid-area: barra;
    height: 12px;
    background: linear-gradient(to right, aqua, blue);
}

.lista-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: black;
}

.main-tarjeta {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.tarjetas {
    display: flex;
    width: 90%;
    justify-content: space-around;
    height: max-content;
    margin: 10vh;
}

.tarjeta {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    text-align: center;
    box-sizing: content-box;
    flex-wrap: wrap;
    word-break: normal;
    overflow-wrap: break-word;
    box-shadow: 3px 3px 5px;
}

.tarjeta img {
    width: 100%;
    height: 20vh;
}

.tarjeta p,
.tarjeta h2 {
    padding: 1vh;
    font-size: 1rem;
}

footer {
    height: 20%;
}